/*COMMON STYLE*/
.page-body {
    margin: 0px;
}


.container {
max-width: 1145px;
margin: 0 auto;
}

.navigation {
    display: inline block;
    padding: 32px 0;
    text-align: center;
}

.menu-list {
    display: inline;
 }

 .menu-item {
    display: inline; 
 }

 .menu-link {
    padding: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
 }


 .page-img {
     width: 100%;
  
 }

 
 .page-content {
    padding: 48px 253px;
 }




 .title {
     text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
 }

 .paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    
 }

 .page-btn {
    margin: 66px 365px 21px 365px; 

 }


 .btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background: #FF0000;
    border-radius: 4px;
    color: white;
border: none;
padding: 18px 43px;
}

.footer-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
margin-bottom: 29px;
margin-left: 800px;
}